.product-card {
    max-width: 150px;
}

/* To make a card stand out (pop out/get slightly bigger) */
mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Time it takes for the card to resize */
mat-card {
    transition: transform 0.2s;
}

.sort-dropdown{
    margin-left: 20px;
}